* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#container {
  position: absolute;
  top: 0;
  left: 25%;
  background: black;
  width: 75%;
  height: 100%;
}
#canvas1 {
  position: fixed;
  left: 25%;
  top: 0;
  width: 750%;
  height: 100%;
}

#audio1 {
  display: block;
  position: relative;
  width: 50%;
  margin: 10px auto;
}
